* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

/* Book describtion and Book img */
.section1 {
  display: flex;
  margin: 246px 182px 148px 212px;
  width: 84%;
  height: 529px;
  gap: 141px;
}
/* only text side of book */
.bookInfo {
  width: 47%;
  height: 516px;
  display: flex;
  flex-direction: column;
}
/* back button */
.bookInfo :nth-child(1) {
  margin-bottom: 80px;
  margin-top: 10px;
  width: 100px;
  padding: 5px 10px;
  border: 1px solid var(--allBtn);
  border-radius: 4px;
  background-color: var(--allBtn);
  box-shadow: var(--bkpgback);
  font-weight: var(--fontweight);
  color: var(--admSrchRes);
  cursor: pointer;
}
/* book img for responsive design */

.bookInfo :nth-child(2) {
  display: none;
}

/* year of book */
.bookInfo :nth-child(3) {
  font-size: var(--slideBooksFooter);
  font-weight: var(--fontweight);
  box-shadow: var(--bkpgyearshadow);
  background-color: var(--bkpgyear);
  color: var(--admSrchRes);
  border-radius: 3px;
  width: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-content: center;
  padding-left: 18px;
  cursor: pointer;
}
/* title of book */
.bookInfo :nth-child(4) {
  align-content: center;
  display: inline-block;
  font-size: var(--headerFontSize);
  margin-top: 1rem;
}
/* 2 years ago side */
.bookInfo :nth-child(5) {
  margin-bottom: 1rem;
  font-size: var(--bookpgComment);
  font-weight: var(--ctlgslidefntWeight);
  line-height: 31.39px;
}
/* autor name */
.bookInfo :nth-child(6) {
  margin-bottom: 2rem;
}
/* describtion */
.bookInfo :nth-child(7) {
  line-height: 1.9rem;
}
/* moreover info */
.bookInfo :nth-child(8) {
  line-height: 1.9rem;
  background-color: none;
}
/* image of book */
.bookinfoImg {
  height: 529px;
  width: 32%;
}

/* book comments */

.section2 {
  margin-left: 13%;
  margin-bottom: 148px;
}

/* send button and input */
.sendComment {
  display: flex;
  align-items: center;
  width: 80%;
  height: 80px;
}
/* input */
.sendComment :nth-child(1) {
  width: 52%;
  height: 59px;
}
.sendComment :nth-child(1):focus {
  font-size: var(--bookpgComment);
  border: inset 2px solid var(--allBtn);
}
/* button */
.sendComment :nth-child(2) {
  width: 61px;
  height: 61px;
  margin-left: -3px;
  background-color: var(--allBtn);
  border: 1px solid var(--allBtn);
  border-radius: 5px;
}
/* button */
.sendComment :nth-child(2):hover {
  opacity: 0.9;
}
.sendComment :nth-child(2):active {
  opacity: 0.7;
}
/* anonim comments */

#anonim {
  width: 46%;
  height: 167px;
  box-shadow: var(--bkpganonims);
  padding: 30px 16px;
}

.anonim1 {
  margin-top: 53px;
}
.anonimComent {
  font-size: 13.6px;
}

.comentnameTime {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  align-content: center;
}

.anonim2 {
  margin-top: 43px;
}

/* mobile devices responsive design */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .section1 {
    margin: 20px;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .bookInfo {
    margin: 0;
    width: 90%;
    text-align: center;
  }
  .bookInfo :nth-child(1) {
    width: 30%;
    text-align: center;
  }
  .bookInfo :nth-child(2) {
    display: block;
    margin: 3rem;
  }
  .bookInfo :nth-child(3) {
    width: 17%;
    padding: 0;
    text-align: center;
  }
  .bookInfo :nth-child(4) {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    /* margin-left: -20px; */
  }
  .bookInfo :nth-child(5) {
    display: none;
  }
  .bookInfo :nth-child(6) {
    text-align: center;
    font-weight: var(--ctlgslidefntWeight);
    margin-top: 1rem;
    /* margin-left: -40px; */
  }
  .bookInfo :nth-child(7) {
    text-align: center;
    /* margin-right: 45px; */
  }
  .bookInfo :nth-child(8) {
    text-align: center;
  }
  .bookinfoImg {
    display: none;
  }

  .section2 {
    display: none;
  }
}

/* tablets and desctops responsive design */
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .section1 {
    margin: 6vh  auto 6vh 10% ;
    flex-direction: row;
    gap: 80px;
    width: 100%;
  }
 
  .bookInfo > :nth-child(4) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .bookinfoImg {
    margin-top: 90px;
    margin-right: 0px;
  }
  .section2 {
    margin-top: 150px;
    margin-left: 10%;
  }

  .comentnameTime {
    margin-bottom: 20px;
  }
}
