* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

/* Book describtion and Book img */
.section1 {
  display: flex;
  margin: 246px 182px 148px 212px;

  width: 84%;
  height: 529px;
  gap: 141px;
}
/* only text side of book */
.bookInfo {
  width: 47%;
  height: 516px;
  display: flex;
  flex-direction: column;
}
/* back button */
.bookInfo :nth-child(1) {
  margin-bottom: 80px;
  margin-top: 10px;
  width: 100px;
  height: 29px;
  border: 1px solid var(--allBtn);
  border-radius: 4px;
  background-color: var(--allBtn);
  box-shadow: var(--bkpgback);
  font-weight: var(--fontweight);
  color: var(--admSrchRes);
  cursor: pointer;
}
/* year of book */
.bookInfo :nth-child(2) {
  font-size: var(--slideBooksFooter);
  font-weight: var(--fontweight);
  box-shadow: var(--bkpgyearshadow);
  background-color: var(--bkpgyear);
  color: var(--admSrchRes);
  border-radius: 3px;
  width: 69px;
  height: 23px;
  align-content: center;
  padding-left: 18px;
  cursor: pointer;
}
/* title of book */
.bookInfo :nth-child(3) {
  height: 69px;
  width: 47%;
  text-align: center;
  align-content: center;
  display: inline-block;

  font-weight: var(--ctlgslidefntWeight);
  font-size: var(--headerFontSize);
}
/* 2 years ago side */
.bookInfo :nth-child(4) {
  margin-bottom: 1rem;
}
/* autor name */
.bookInfo :nth-child(5) {
  margin-bottom: 2rem;
}
/* describtion */
.bookInfo :nth-child(6) {
  line-height: 1.9rem;
}
/* moreover info */
.bookInfo :nth-child(7) {
  line-height: 1.9rem;
}
/* image of book */
.bookinfoImg {
  height: 529px;
  width: 32%;
}

/* book comments */

.section2 {
  margin-left: 13%;
  margin-bottom: 148px;
}

/* send button and input */
.sendComment {
  display: flex;
  width: 80%;
  height: 60px;
}
/* input */
.sendComment :nth-child(1) {
  width: 52%;
  height: 60px;
}
/* button */
.sendComment :nth-child(2) {
  width: 61px;
  height: 60px;
  margin-left: -3px;
  background-color: var(--allBtn);
  border: 1px solid var(--allBtn);
  border-radius: 5px;
}

/* anonim comments */

#anonim {
  width: 46%;
  height: 167px;
  box-shadow: var(--bkpganonims);
  padding: 30px 16px;
}

.anonim1 {
  margin-top: 53px;
}
.anonimComent {
  font-size: 13.6px;
}

.comentnameTime {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  align-content: center;
}

.anonim2 {
  margin-top: 43px;
}
