* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
.head_slide {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.all_books {
  width: 20%;
  text-align: center;
  color: var(--ctlgTextColor);
}

.jenre {
  display: flex;
  overflow-x: auto;
}

.jenre li {
  flex: 0 0 auto;
  width: calc(100% / 3); /* Show 3 items at a time */
  text-align: center;
  padding: 10px;
  color: var(--ctlgTextColor);
}

.jenre::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.jenre::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.jenre::-webkit-scrollbar-thumb {
  background: var(--admFormBoxShadow);
  border-radius: 10px;
}

/* Slider Show style */
.slider_1 {
  display: flex;
  justify-content: center;
  gap: 42px;
  margin-top: 50px;
  width: 100%;
  overflow-x: scroll;
  padding: 20px;
}
.slider_1::-webkit-scrollbar {
  display: none;
}

.books {
  display: flex;
  /* width: 184px; */
  /* height: 352px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--ctlgHead);
  box-shadow: var(--srchpgdesc);
}

.books span {
  font-size: var(--slideBooksFooter);
  padding: 16px 0;
}
.books a {
  width: 136px;
  height: 29px;
  border-radius: 3px;
  padding: 6px;
  border: none;
  background-color: var(--allBtn);
  color: var(--admformBorder);
  font-weight: var(--fontweight);
  font-size: var(--slideBooksFooter);
}
.books img {
  width: 100%;
  height: auto;
}
.slide_show {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}
.prev,
.next {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.slide_title {
  text-align: center;
  padding: 10px 0;
}
.slide_title h2 {
  font-weight: var(--fontweight);
  font-size: var(--ctlgHead);
  color: var(--ctlgTextColor);
  line-height: 50px;
}
