* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.contact_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 112px auto 126px auto;
  width: 80%;
}
/* Contact Us title */
.Contact {
  font-size: var(--headerFontSize);
  font-weight: var(--fontweight);
  line-height: 70.63px;
  margin-left: -74.5%;
}

/* inputs sizes */
.name_mail,
.address_phone {
  display: flex;
  width: 90%;
  margin: 15px auto;
  gap: 36px;
}
.name_mail input,
.address_phone input {
  flex: 1;
  padding: 20px;
  font-size: var(--cntcinputsize);
}
.send_message {
  display: flex;
  flex-direction: column;
  gap: 33px;
  width: 90%;
  margin-top: 33px;
}

.send_message :nth-child(1) {
  padding: 20px;
  font-size: var(--cntcinputsize);
}
.send_message :nth-child(2) {
  width: 40%;
  margin: 0 auto;
  padding: 15px;
  color: var(--admSrchRes);
  font-size: var(--fontSize);
  background-color: var(--allBtn);
}
