* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.Contact {
  font-size: var(--headerFontSize);
  font-weight: var(--fontweight);
  line-height: 70.63px;
}

.inputs{
  
}