* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.active {
  color: var(--navbarColor) !important;
  text-decoration: underline;
  font-weight: var(--ctlgslidefntWeight);
}
.logo {
  display: flex;
  width: 20%;
  gap: 10px;
  padding: 20px;
}
.logo span {
  color: var(--textColorHead);
}
.header_text h1 {
  color: var(--admBgandtable);
  font-size: var(--logoFontSize);
  font-weight: var(--fontweight);
}
.header_text hr {
  width: 205px;
}
.navbar {
  width: 40%;
}

.header_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  width: 100%;
}
.header_nav li a {
  color: var(--textColorHead);
}
.join {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.join button {
  border: none;
  background: none;
  color: var(--textColorHead);
}

/* last section */

.social_media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--ctlgHead);
  color: var(--textColorHead);
  font-size: var(--ctlgHead);
  font-weight: var(--fontweight);
}
.social_link {
  /* width: 30%; */
  display: flex;
  gap: 65px;
}
.social_link img {
  width: 100%;
}
/* footer style */

footer {
  background-color: var(--footerBg);
  color: var(--footerTextColor);
  margin-top: 133px;
  padding: 30px;
  /* width: 100%; */
}
.footer_contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  text-align: center;
  font-size: var(--slideBooksFooter);
  margin-top: 60px;
}
.footer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 10px;
}
.footer_logo img {
  fill: white;
  /* width: 100%; */
}

.footer_ul {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px;
}
.footer_text h2 {
  font-size: var(--bookpgComment);
  font-weight: var(--fontweight);
}
.footer_text hr {
  width: 205px;
}
.popular,
.cash,
.help {
  font-size: var(--slideBooksFooter);
  margin: 4px;
}
.popular li,
.cash li,
.help li {
  padding: 2px;
}
.help span,
.cash span,
.popular span {
  font-size: var(--mainFontSize);
}

/* responsive dizayn */

.navbar_resp {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(36, 20, 0, 0.9);
  padding: 20px;
}

.header_nav_resp li {
  margin-bottom: 18px;
}
.header_nav_resp li a {
  color: white;
}

.btn_close {
  border: none;
  margin-bottom: 22px;
  padding: 6px;
  background: none;
}

.responsive {
  display: none;
}

.responsive_footer {
  display: none;
  width: 60%;
}
.resp_li {
  display: flex;
  gap: 10px;
}
.resp_li li a {
  color: var(--footerTextColor);
}
.joinUsContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--backgroundoColor);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  display: none;
  position: fixed;
  cursor: pointer;
  transition: 0.5s;
}

.joinUsForm {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  padding: 38px;
  border-radius: 4px;
  text-align: center;
  gap: 10px;
  width: 40%;
}
.joinUsForm input {
  width: 100%;
  outline: none;
  height: 74px;
  margin-bottom: 34px;
  border: 1px solid #cecece;
  font-size: 20px;
  padding-left: 54px;
}
.joinUsForm p {
  font-size: var(--joinUsFont);
  font-weight: 700;
  padding: 30px 0;
}
.closeJoinUs {
  border: none;
  padding: 14px;
  background: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  cursor: pointer;
  right: 24px;
}

.joinUsLogin {
  width: 100%;
  height: 74px;
  border: 1px solid #cecece;
  background-color: var(--navbarColor);
  color: white;
  font-size: 19px;
}
@media only screen and (min-width: 323px) and (max-width: 767px) {
  /* Mobil mode */
  .navbar {
    display: none;
  }
  .navbar_resp {
    /* display: block; */
    text-align: end;
  }
  .header_nav {
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 40%;
  }
  .responsive {
    display: block;
    padding: 4px;
  }
  .responsive_join {
    display: flex;
    gap: 10px;
  }
  .responsive_join button {
    border: none;
    background: none;
  }
  .join {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }
  .header_text hr {
    width: 100px;
  }
  .social_media {
    font-size: var(--bookPgFontparagraf);
    font-weight: var(--fontweight);
    justify-content: center;
    align-items: center;
  }
  .social_link {
    gap: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .social_link img {
    width: 20%;
  }

  .footer_ul {
    display: none;
  }

  .footer_contact {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .responsive_footer {
    display: block;
    font-size: var(--slideBooksFooter);
    margin-top: 30px;
    width: 100%;
  }
  .resp_li {
    align-items: center;
    justify-content: center;
  }
  .footer_text hr {
    width: 100px;
  }
  .footer_text h2 {
    font-size: var(--logoFontSize);
  }
}

@media only screen and (min-width: 767px) and (max-width: 1440px) {
  .navbar_resp {
    display: none;
  }
}
