:root {
  /* admin, client pages  colors*/
  --admBgandtable: #720418;
  --allBtn: #e16a00;
  --admSrchRes: #f1f0f0;
  --admSrcBorder: #391f00;
  --admFormBoxShadow: #9ea8bd;
  --admformBorder: #e2e6ee;
  --whiteclr : #fff;
  --hmBtnShadow: #d66400;
  --socialMediaColor: #241400;
  --footerBg: #391f00;
  --slideBooksIsNewbg: #eb5757;
  --bkpgyear: #2f80ed;
  --textColorHead: #241400;
  --footerTextColor: #ffffff;

  /* fontsize & font-weight */

  --fontweight: 900;
  --logoFontSize: 14px;
  --joinUsFont: 44px;
  --mainFontSize: 18px;
  --fontSize: 30px;
  --cntcinputsize: 23px;
  --headerFontSize: 36px;
  --ctlgHead: 26px;
  --ctlgslidefntWeight: 700;
  --bookPgFontparagraf: 18px;
  --bookpgComment: 16px;
  --slideBooksIsNewFont: 9px;
  --slideBooksFooter: 12px;

  /* drop shadow */
  --admformstore: 0px 4px 18px 0px #9ea8bd4f;
  --admjoinbksCntc: 0px 1px 0px 0px #e6e7e9 inset;
  --hmgotoCtlg: 0px 7px 35px 0px #d6640038;
  --hmctlg: 0px 4px 11px 0px #00000040;
  --bkpganonims: 0px 4px 11px 0px #00000040;
  --srchpgdesc: 0px 4px 15px 0px #00000040;
  --bkpgyearshadow: 0px 3px 8px 0px #e16a0030;
  --bkpgback: 0px 3px 8px 0px #e16a0030;
}
