* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
main {
  overflow-x: hidden;
}
/* head title of section */
.pageTitle {
  margin-bottom: 1rem;
  font-size: var(--headerFontSize);
  font-weight: var(--ctlgslidefntWeight);
  line-height: 70.63px;
  display: flex;
}
/* it contains only input and slider  */
.hero {
  display: flex;
  gap: 3rem;
}
/* the whole section */
.searchSection {
  height: 90vh;
  width: 100%;
  margin: 134px 59px 124px 200px;
}
/* left and right turning buttons */
.lth,
.gth {
  background-color: var(--whiteclr);
  margin: 0;
  cursor: pointer;
  border: none;
}

.lth {
  margin-right: -1rem;
}
.gth {
  margin-left: -1rem;
}
/* slider div with img tag and p tags in it */
.slider {
  display: flex;
  padding-left: 30px;
  align-items: center;
  height: 75vh;
  width: 57%;
  box-shadow: var(--srchpgdesc);
  gap: 2.4rem;
  line-height: 35.31px;
}
/* text side of slider */
.bookName {
  font-weight: var(--ctlgslidefntWeight);
  font-size: var(--joinUsFont);
}
.author {
  font-size: var(--mainFontSize);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: var(--midlewight);
}
.describtion {
  width: 89%;
}
/* input div with input and button in it */
.inputSide {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 19%;
}

/* input sides */
.searching {
  height: 7vh;
  font-size: var(--bookpgComment);
  background-color: var(--whiteclr);
  border: 1px solid var(--admFormBoxShadow);
  border-radius: 4px;
  padding-left: 15px;
}
.searching:focus {
  border: inset 1px solid var(--allBtn);
}
.btnSend {
  background-color: var(--allBtn);
  font-size: var(--mainFontSize);
  color: var(--whiteclr);
  height: 7vh;
  background-color: var(--allBtn);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.15;
}
.btnSend:hover {
  opacity: 0.8;
}
.btnSend:active {
  opacity: 0.5;
}

/* Styles for screens between 320px and 768px */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .pageTitle {
    display: flex;
    justify-content: center;
  }
  .searchSection {
    margin: 0;
    margin-bottom: 35vh;
    height: auto;
  }
  .btnSend:hover {
    opacity: 1;
  }
  .btnSend:active {
    opacity: 0.7;
  }
  .slider {
    width: 90%;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    gap: 2rem;
    margin-bottom: 15vh;
    margin-top: 2vh;
  }

  .inputSide {
    width: 90%;
    height: 10vh;
  }

  .lth,
  .gth {
    display: none;
  }
  .bookName {
    font-size: var(--ctlgHead);
    text-align: center;
  }
  .author {
    font-size: var(--bookpgComment);
    text-align: center;
  }
  .describtion {
    font-size: var(--slideBooksFooter);

    text-align: center;
  }
}
/* tablet version  */
@media screen and (min-width: 769px) and (max-width: 1250px) {
  .searchSection {
    margin: 6%;
    margin-top: 5vh;
  }
  .inputSide {
    width: 22%;
    height: 10vh;
  }
  .hero {
    gap: 1rem;
    width: 100%;
  }
  .lth {
    margin-right: 1rem;
  }
  .gth {
    margin-left: 1rem;
  }
  .slider {
    width: 56%;
    gap: 0.7rem;
    height: 34vh;
    padding-right: 1rem;
  }
  .bookImg {
    margin-right: 0;
  }
  .bookName {
    font-size: 19px;
    font-weight: 700;
    margin: 0;
    line-height: normal;
    margin-bottom: 3px;
  }
  .author {
    font-size: var(--slideBooksFooter);
    font-weight: var(--midlewight);
    margin: 0;
    line-height: normal;
  }
  .describtion {
    margin: 0;
    width: 90%;
    font-size: 10px;
    margin-top: 1rem;
    line-height: 2;
  }
}
/* desctop version */
@media screen and (min-width: 1251px) and (max-width: 1440px) {
  .searchSection {
    margin-left: 8rem;
    margin-top: 6vh;
  }

  .inputSide {
    width: 20%;
    margin-right: -3rem;
  }
  .searching,
  .btnSend {
    height: 4vh;
  }
  .describtion {
    width: 90%;
  }
  .slider {
    width: 60%;
    height: 36vh;
  }
}
