* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}


.mainSection {
  display: flex;
  align-items: center;
  gap: 100px;
  width: 80%;
  height: 700px;
  margin-left: 90px;  
}

.leftBook {
  width: 80%;
  height: 227px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.leftBook h1 {
  font-size: var(--headerFontSize);
  font-weight: var(--fontweight);
}

.leftBook span {
  font-size: 13px;
  font-weight: 400;
  line-height: 25.5px;
  width: 370px;
  height: 61px;
}

.leftBook button {
  width: 57%;
  height: 50px;
  background-color: var(--hmBtnShadow);
  color: var(--whiteclr);
  font-size: 15px;
  font-weight: var(--fontweight);
  padding-right: 60px;
  border: 0px;
  cursor: pointer;
  box-shadow: var(--hmgotoCtlg);
}

.rightBook img {
  width: 691px;
  height: 488px;
  margin: 137px 0 66px 0;
}

.secondSection h2 {
  font-size: var(--bookName);
  font-weight: var(--fontweight);
}

.secondSection {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.catalogSection {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 36px;
  margin-top: 66px;
}

.catalogDiv {
  width: 30%;
  height: 76px;
  background-color: var(--whiteclr);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--hmctlg);
  font-size: var(--logoFontSize);
  font-weight: var(--ctlgslidefntWeight);
}

.catalogBtn a {
  color: var(--whiteclr);
}

.thirdSection {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 136px auto;
  padding-top: 120px;
  gap: 52px;
}

.thirdSection h3 {
  font-size: var(--bookName);
  font-weight: var(--fontweight);
}

.aboutDiv {
  display: flex;
  align-items: center;
  gap: 27px;
}

.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.aboutDiv p {
  font-size: 50px;
  font-weight: var(--fontweight);
}

.aboutDiv span {
  font-size: 13px;
  font-weight: 400;
}

.fourthSection {
  width: 90%;
  margin: 0 0 134px 70px;
  padding-top: 159px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.fourthSection h4 {
  text-align: center;
  font-size: 25px;
  font-weight: var(--fontweight);
}

.fourthSection span {
  font-size: var(--slideBooksFooter);
  font-weight: 400;
  line-height: 23.54px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.respsvBook {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
 
  .mainSection {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 700px;
    margin: 72px 0 240px 0;
    
  }

  .leftBook {
    width: 100%;
    height: 280px;
    text-align: center;
    gap: 0;
    margin-bottom: 20px;
  }

  .leftBook h1 {
    font-size: 34px;
    width: 100%;
    margin-bottom: 25px;
  }

  .leftBook span {
    width: 90%;
    margin: 0 auto;
    font-size: var(--mainFontSize);
  }

  .leftBook button {
    width: 89%;
    height: 50px;
    padding: 0;
    margin: 50px auto;
  }

  .rightBook {
    display: none;
  }

  .respsvBook {
    display: block;
    height: 260px;
    width: 100%;
    margin-left: 39px;
    margin-bottom: 140px;
  }

  .respsvBook img {
    width: 90%;
  }

  .secondSection {
    width: 70%;
    height: 800px;
   
  }

  .catalogSection {
    gap: 20px;
    margin-top: 30px;
  }

  .catalogDiv {
    width: 100%;
    height: 60px;
    font-size: var(--slideBooksFooter);
  }

  .thirdSection {
    width: 90%;
    margin-top: 120px;
    padding: 0;
    gap: 30px;
  }

  .aboutSection {
    flex-direction: column;
    gap: 20px;
    align-items: start;
    width: 100%;
    margin-top: 15px;
  }

  .aboutDiv {
    gap: 18px;
  }

  .fourthSection {
    width: 90%;
    padding-top: 0;
    gap: 20px;
    margin: 0 0 154px 20px;
  }

  .fourthSection span {
    font-size: var(--slideBooksFooter);
    width: 82%;
    text-align: center;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {

  .mainSection {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 72px 0 0 0;   
    height: 1100px;
  }

  .leftBook span {
    width: 84%;
    margin: 0 auto;
    font-size: var(--cntcinputsize);
  }

  .leftBook h1 {
  font-size: var(--headerFontSize);
  text-align: center;
  }

  .leftBook button {
    width: 88%;
    height: 50px;
    padding: 0;
    margin: 30px auto;
    font-size: var(--mainFontSize);
  }

  .rightBook {
    display: none;
  }

  
  .respsvBook {
    display: block;
    height: 260px;
    width: 100%;
    margin-left: 39px;
    margin-bottom: 340px;
  }

  .respsvBook img {
    width: 90%;
  }

  .secondSection {
    margin-top: 200px;
    
  }

  .secondSection h2 {
    font-size: var(--headerFontSize);
  }

  .catalogDiv {
    font-size: var(--bookpgComment);
    width: 60%;
  }

  .thirdSection h3 {
    font-size: var(--headerFontSize);
    
  }

  
  .aboutDiv {
    flex-direction: column;
    
  }

  .aboutSection {
    align-items: start;   
    text-align: center;    
  }

  .aboutDiv span {
    font-size: var(--bookpgComment);   
  }

  .fourthSection h4 {
    font-size: var(--headerFontSize);
    margin: 0 auto;
  }

  .fourthSection span {
    font-size: var(--bookpgComment);
  }
}