* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
}

.left_box {
  background-color: var(--admBgandtable);
  width: 20%;
  padding-top: 1%;
}

.logo {
  display: flex;
  gap: 8px;
  margin: 34px 0 0 32px;
}

.text_box {
  color: #fff;
  margin: 12px 0;
  width: 100%;
}

.text_box :nth-child(1) {
  font-weight: var(--fontweight);
  font-size: var(--logoFontSize);
  line-height: 32px;
}

.text_box :nth-child(2) {
  width: 80%;
  color: #ffffff96;
}

.text_box :nth-child(3) {
  font-weight: 400;
  font-size: var(--logoFontSize);
  line-height: 26px;
}

.main_box {
  background-color: #fffaf5;
  width: 100%;
}

.stacks_container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 10px 0 0 40px;
}

.stacks {
  display: flex;
  align-items: center;
  gap: 11px;
  color: #fff;
  font-weight: 400;
  font-size: var(--mainFontSize);
}

.profile {
  display: flex;
  justify-content: end;
  gap: 6px;
  margin: 48px 58px;
}

.profile p {
  font-weight: 400;
  font-size: var(--logoFontSize);
  color: var(--socialMediaColor);
}

.add {
  color: #333333;
  font-weight: 600;
  font-size: var(--fontSize);
  margin: 26px 33px;
}

.search {
  margin: 40px 35px;
}

.text {
  font-weight: 600;
  font-size: var(--bookPgFontparagraf);
  color: #333333;
}

.searching_area {
  margin: 15px 0 6px 0;
  display: flex;
}

.searching_area input {
  width: 30%;
  height: 41px;
  border: 2px solid #391f007a;
  border-radius: 34px;
  font-size: var(--logoFontSize);
  font-weight: 400;
  color: #adadad;
  padding-left: 33px;
}

.searching_area button {
  width: 5%;
  height: 40px;
  background-color: #ff8b00;
  border: none;
  border-radius: 34px;
  margin: 0 7px;
  cursor: pointer;
  }

.result_container {
  background-color: var(--admSrchRes);
  width: 30%;
  height: 85px;

  border-radius: 35px;
}

.result_box {
<<<<<<< HEAD
  border-radius: 35px;
=======
  border-radius: 35px;   
>>>>>>> be60af88760db0b960a8cd3a8b81a7319bbfed52
  border-radius: 35px;
  overflow-y: auto;
}

.result_container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.result_container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.result_container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.result_container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

<<<<<<< HEAD
=======
 

>>>>>>> be60af88760db0b960a8cd3a8b81a7319bbfed52
.result_box {
  display: flex;
  gap: 24px;
  padding: 18px 0 0 36px;
  font-size: var(--logoFontSize);
  font-weight: 400;
  color: #bcbcbc;
}

.add_container {
  width: 90%;
  height: 660px;
  background-color: #fff;
  margin: 18px 0 0 33px;
  border-radius: 20px;
}

.bookForm {
  margin: 81px 0 18px 33px;
  font-weight: 600;
  font-size: var(--mainFontSize);
  color: #333333;
}

.addTexts {
  margin: 0 30px;

  height: 570px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 16px;
}

.bookName {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.authorName {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.bookImageUrl {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.bookType {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.addTexts button {
  width: 100%;
  background-color: #ff8b00;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 24px;
  height: 40px;
  font-size: var(--bookpgComment);
  font-weight: 400;
}

.addTexts label {
  font-size: var(--bookpgComment);
  font-weight: 400;
}

.addTexts input {
  border: none;
  border-radius: 10px;
  box-shadow: var(--admformstore);
  border-radius: 1px solid #e2e6ee;
  padding: 8px 12px;
  height: 40px;
  font-size: var(--bookpgComment);
  font-weight: 400;
}

.addTexts select {
  border: none;
  border-radius: 10px;
  box-shadow: var(--admformstore);
  border-radius: 1px solid #e2e6ee;
  padding: 8px 12px;
  height: 40px;
  font-size: var(--bookpgComment);
  font-weight: 400;
}

.checkbox input {
  height: 20px;
}

.checkbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.description textarea {
  border: none;
  border-radius: 10px;
  box-shadow: var(--admformstore);
  border-radius: 1px solid #e2e6ee;
  padding: 8px 12px;
  height: 89px;
  font-size: var(--bookpgComment);
  font-weight: 400;
  width: 100%;
}

.plus {
  display: flex;
}

#plus_sign {
  width: 0%;
  height: 0;
  background-color: #ff8b00;
  color: #000;
  margin: 0 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store_container {
  width: 90%;
  height: 415px;
  background-color: #fff;
  margin: 18px 0 0 33px;
  border-radius: 20px;
}

.abt_store {
  font-size: var(--fontSize);
  font-weight: 600;
  margin: 0 0 20px 40px;
}

.abt_section {
  margin: 161px 0 136px 0;
}

.join_us {
  width: 44%;
  height: 258px;
  margin: 0 0 300px 36px;
}

.scroll {
  overflow-y: auto;
  height: 260px;
}

.scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.join_us p {
  text-align: left;
  font-size: var(--fontSize);
  font-weight: 600;
  color: #333333;
}

.join_us table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.join_us thead {
  background-color: var(--admBgandtable);
  color: #ffffff;
}

.join_us th,
td {
  padding: 12px;
  font-weight: 400;
  text-align: center;
  font-size: var(--logoFontSize);
  height: 48px;
}

.join_us tbody tr:nth-child(even) {
  background-color: #f9fafc;
  border-top: 2px solid #e6e7e9;
}

.join_us tbody tr:nth-child(odd) {
  background-color: #fff;
  border-top: 2px solid #e6e7e9;
}

/* table container */

.table_container {
  width: 92%;
  height: 97px;
  margin: 20px 0 398px 36px;
}

.scroll2 {
  overflow-y: auto;
  height: 120px;
}

.scroll2::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scroll2::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scroll2::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scroll2::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.table_container p {
  text-align: left;
  font-size: var(--fontSize);
  font-weight: 600;
  color: #333333;
}

.table_container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table_container thead {
  background-color: var(--admBgandtable);
  color: #ffffff;
}

.table_container th,
td {
  padding: 12px;
  font-weight: 400;
  text-align: center;
  font-size: var(--logoFontSize);
  height: 48px;
}

.table_container tbody tr:nth-child(even) {
  background-color: #f9fafc;
  border-top: 2px solid #e6e7e9;
}

.table_container tbody tr:nth-child(odd) {
  background-color: #fff;
  border-top: 2px solid #e6e7e9;
}

.angels {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* contact_cntr */

.contact_cntr {
  width: 92%;
  height: 240px;
  margin: 0 0 438px 36px;
}

.scroll3 {
  overflow-y: auto;
  height: 260px;
}

.scroll3::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scroll3::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scroll3::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scroll3::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.contact_cntr p {
  text-align: left;
  font-size: var(--fontSize);
  font-weight: 600;
  color: #333333;
}

.contact_cntr table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.contact_cntr thead {
  background-color: var(--admBgandtable);
  color: #ffffff;
}

.contact_cntr th,
td {
  padding: 12px;
  font-weight: 400;
  text-align: center;
  font-size: var(--logoFontSize);
  height: 48px;
}

.contact_cntr tbody tr:nth-child(even) {
  background-color: #f9fafc;
  border-top: 2px solid #e6e7e9;
}

.contact_cntr tbody tr:nth-child(odd) {
  background-color: #fff;
  border-top: 2px solid #e6e7e9;
}
