* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
}

.left_box {
  background-color: var(--admBgandtable);
  width: 20%;
  padding-top: 1%;
}

.logo {
  display: flex;
  gap: 8px;
  margin: 34px 0 0 32px;
}

.logo button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 46px;
  width: 40%;
  font-size: 36px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  display: none;
}

.text_box {
  color: #fff;
  margin: 12px 0;
  width: 100%;
}

.text_box :nth-child(1) {
  font-weight: var(--fontweight);
  font-size: var(--logoFontSize);
  line-height: 32px;
}

.text_box :nth-child(2) {
  width: 80%;
  color: #ffffff96;
}

.text_box :nth-child(3) {
  font-weight: 400;
  font-size: var(--logoFontSize);
  line-height: 26px;
}

.main_box {
  background-color: #fffaf5;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.stacks_container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: 10px 0 0 40px;
}

.stacks button {
  display: flex;
  align-items: center;
  gap: 11px;
  color: #fff;
  font-weight: 400;
  font-size: var(--mainFontSize);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.stacks a {
  color: #fff;
  font-weight: 400;
  font-size: var(--mainFontSize);
}

.profile {
  display: flex;
  justify-content: end;
  gap: 6px;
  margin: 48px 58px;
}

.profile p {
  font-weight: 400;
  font-size: var(--logoFontSize);
  color: var(--socialMediaColor);
  display: flex;
  align-items: center;
}

.add {
  color: #333333;
  font-weight: 600;
  font-size: var(--fontSize);
  margin: 26px 33px;
}

.search {
  margin: 40px 35px;
}

.text {
  font-weight: 600;
  font-size: var(--bookPgFontparagraf);
  color: #333333;
}

.searching_area {
  margin: 15px 0 6px 0;
  display: flex;
}

.searching_area input {
  width: 30%;
  height: 41px;
  border: 2px solid #391f007a;
  border-radius: 34px;
  font-size: var(--logoFontSize);
  font-weight: 400;
  color: #adadad;
  padding-left: 33px;
}

.searching_area button {
  width: 5%;
  height: 40px;
  background-color: #ff8b00;
  border: none;
  border-radius: 34px;
  margin: 0 7px;
  cursor: pointer;
}

.result_container {
  background-color: var(--admSrchRes);
  width: 30%;
  height: 85px;
  overflow-y: auto;
  border-radius: 35px;
}

.result_box {
  border-radius: 35px;
  overflow-y: auto;
}

.result_container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.result_container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.result_container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.result_container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.result_box {
  display: flex;
  gap: 24px;
  padding: 18px 0 0 36px;
  font-size: var(--logoFontSize);
  font-weight: 400;
  color: #bcbcbc;
}

.add_container {
  width: 90%;
  height: 660px;
  background-color: #fff;
  margin: 18px 0 0 33px;
  border-radius: 20px;
}

.bookForm {
  margin: 81px 0 18px 33px;
  font-weight: 600;
  font-size: var(--mainFontSize);
  color: #333333;
}

.addTexts {
  margin: 0 30px;
  height: 570px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 16px;
}

.bookName {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.authorName {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.bookImageUrl {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.bookType {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.addTexts button {
  width: 100%;
  background-color: #ff8b00;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 12px 24px;
  height: 40px;
  font-size: var(--bookpgComment);
  font-weight: 400;
}

.addTexts label {
  font-size: var(--bookpgComment);
  font-weight: 400;
}

.addTexts input {
  border: none;
  border-radius: 10px;
  box-shadow: var(--admformstore);
  border-radius: 1px solid #e2e6ee;
  padding: 8px 12px;
  height: 40px;
  font-size: var(--bookpgComment);
  font-weight: 400;
}

.addTexts select {
  border: none;
  border-radius: 10px;
  box-shadow: var(--admformstore);
  border-radius: 1px solid #e2e6ee;
  padding: 8px 12px;
  height: 40px;
  font-size: var(--bookpgComment);
  font-weight: 400;
}

.checkbox input {
  height: 20px;
}

.checkbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.description textarea {
  border: none;
  border-radius: 10px;
  box-shadow: var(--admformstore);
  border-radius: 1px solid #e2e6ee;
  padding: 8px 12px;
  height: 89px;
  font-size: var(--bookpgComment);
  font-weight: 400;
  width: 100%;
}

.plus {
  display: flex;
}

#plus_sign {
  width: 0%;
  height: 0;
  background-color: #ff8b00;
  color: #000;
  margin: 0 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** store */
.store_container {
  width: 90%;
  height: 415px;
  background-color: #fff;
  margin: 18px 0 0 33px;
  border-radius: 20px;
}

.abt_store {
  font-size: var(--fontSize);
  font-weight: 600;
  margin: 0 0 20px 40px;
}

.abt_section {
  margin: 161px 0 136px 0;
}

.join_us {
  width: 44%;
  height: 258px;
  margin: 0 0 300px 36px;
}

.scroll {
  overflow-y: auto;
  height: 260px;
}

.scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.join_us p {
  text-align: left;
  font-size: var(--fontSize);
  font-weight: 600;
  color: #333333;
}

.join_us table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.join_us thead {
  background-color: var(--admBgandtable);
  color: #ffffff;
}

.join_us th,
td {
  padding: 12px;
  font-weight: 400;
  text-align: center;
  font-size: var(--logoFontSize);
  height: 48px;
}

.join_us tbody tr:nth-child(even) {
  background-color: #f9fafc;
  border-top: 2px solid #e6e7e9;
}

.join_us tbody tr:nth-child(odd) {
  background-color: #fff;
  border-top: 2px solid #e6e7e9;
}

/* table container */

.table_container {
  width: 92%;
  height: 97px;
  margin: 20px 0 398px 36px;
}

.trash_edit button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--bookpgComment);
  margin-left: 5px;
}

.scroll2 {
  overflow-y: auto;
  height: 120px;
}

.scroll2::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scroll2::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scroll2::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scroll2::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.table_container p {
  text-align: left;
  font-size: var(--fontSize);
  font-weight: 600;
  color: #333333;
}

.table_container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table_container thead {
  background-color: var(--admBgandtable);
  color: #ffffff;
}

.table_container th,
td {
  padding: 12px;
  font-weight: 400;
  text-align: center;
  font-size: var(--logoFontSize);
  height: 48px;
}

.table_container tbody tr:nth-child(even) {
  background-color: #f9fafc;
  border-top: 2px solid #e6e7e9;
}

.table_container tbody tr:nth-child(odd) {
  background-color: #fff;
  border-top: 2px solid #e6e7e9;
}

.angels {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* contact_cntr */

.contact_cntr {
  width: 92%;
  height: 240px;
  margin: 0 0 438px 36px;
}

.scroll3 {
  overflow-y: auto;
  height: 260px;
}

.scroll3::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scroll3::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scroll3::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scroll3::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.contact_cntr p {
  text-align: left;
  font-size: var(--fontSize);
  font-weight: 600;
  color: #333333;
}

.contact_cntr table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.contact_cntr thead {
  background-color: var(--admBgandtable);
  color: #ffffff;
}

.contact_cntr th,
td {
  padding: 12px;
  font-weight: 400;
  text-align: center;
  font-size: var(--logoFontSize);
  height: 48px;
}

.contact_cntr tbody tr:nth-child(even) {
  background-color: #f9fafc;
  border-top: 2px solid #e6e7e9;
}

.contact_cntr tbody tr:nth-child(odd) {
  background-color: #fff;
  border-top: 2px solid #e6e7e9;
}

.book_store {
  display: none;
}

.grey_box {
  display: none;
}

/** media query */

@media screen and (min-width: 323px) and (max-width: 767px) {
  .main_box {
    display: block;
  }

  .left_box,
  .grey_box {
    display: none;
  }

  .grey_box {
    background-color: #241400b2;
    width: 20%;
  }

  .left_box {
    width: 80%;
    height: 100vh;
  }
  .logo {
    display: flex;
    gap: 6px;
    margin: 10px 0 0 11px;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .logo button {
    background-color: transparent;
    border: none;
    height: 46px;
    width: 40%;
    font-size: 36px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    display: block;
  }

  .text_box {
    color: #fff;
    margin: 0;
    width: 100%;
  }

  .text_box :nth-child(1) {
    font-weight: var(--fontweight);
    font-size: var(--logoFontSize);
  }

  .text_box :nth-child(2) {
    width: 80%;
    color: #ffffff96;
  }

  .text_box :nth-child(3) {
    font-weight: 400;
    font-size: var(--logoFontSize);
  }

  .stacks_container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin: 67px 0 0 20px;
  }

  .profile {
    display: none;
  }

  /*! book store */
  .book_store {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 10px 0 66px 0;
  }

  .library {
    display: flex;
    gap: 6px;
    margin: 10px 0 0 11px;
    align-items: center;
  }

  .library img {
    margin-top: 8px;
  }

  .library_btn {
    border: none;
    background-color: transparent;
    font-size: var(--headerFontSize);
    font-weight: var(--ctlgslidefntWeight);
    color: var(--socialMediaColor);
  }

  .text_box2 :nth-child(1) {
    color: var(--admBgandtable);
    font-weight: var(--fontweight);
  }

  .text_box2 :nth-child(2) {
    width: 120px;
  }

  /*! search */

  .add {
    font-size: var(--ctlgHead);
    margin: 0 0 0 13px;
    width: 40%;
  }

  .search {
    margin: 40px 13px;
  }

  .text {
    font-weight: 600;
    font-size: var(--bookpgComment);
    color: #333333;
    margin: 0 0 23px 0;
  }

  .searching_area {
    display: flex;
    margin-left: 5px;
  }

  .searching_area input {
    width: 90%;
    height: 41px;
    border: 2px solid #391f007a;
    border-radius: 34px;
    font-size: var(--logoFontSize);
    font-weight: 400;
    color: #adadad;
    padding-left: 33px;
  }

  .searching_area button {
    width: 15%;
    height: 40px;
    background-color: #ff8b00;
    border: none;
    border-radius: 36px;
    margin: 0 7px;
    cursor: pointer;
  }

  .result_container {
    background-color: var(--admSrchRes);
    width: 82%;
    height: 84px;
    border-radius: 35px;
    margin-left: 5px;
    overflow-y: auto;
  }

  .result_box {
    border-radius: 35px;
    display: flex;
    gap: 24px;
    padding: 18px 0 0 36px;
    font-size: var(--logoFontSize);
    font-weight: 400;
    color: #bcbcbc;
  }

  .bookForm {
    margin: 0 0 16px 13px;
  }

  .add_container {
    width: 100%;
    height: 660px;
    background-color: #fff;
    margin: 0;
    border-radius: 20px;
  }

  .abt_store {
    font-size: var(--ctlgHead);
    font-weight: 600;
    margin: 0 0 20px 13px;
  }
  .store_container {
    width: 100%;
    height: 415px;
    background-color: #fff;
    margin: 0;
    border-radius: 20px;
  }

  /*! join us */

  .join_us {
    width: 100%;
    height: 268px;
    margin: 0 0 290px 10px;
  }

  .scroll table {
    overflow: auto;
    height: 80px;
    width: 700px;
  }

  .join_us p {
    margin-left: 13px;
  }

  /*! BOOKs */

  .table_container {
    width: 100%;
    height: 97px;
    margin: 20px 0 398px 10px;
  }

  .scroll2 table {
    overflow: auto;
    height: 140px;
    width: 700px;
  }

  .scroll2 {
    height: 160px;
  }

  .table_container p {
    margin-left: 13px;
  }

  .angels {
    gap: 5px;
    height: 90px;
  }

  /*! contact_cntr */
  .contact_cntr {
    width: 100%;
    height: 590px;
    margin: 0 0 289px 0;
  }

  .scroll3 {
    height: 268px;
  }

  .scroll3 table {
    overflow: auto;

    width: 1200px;
  }
  .contact_cntr p {
    margin-left: 13px;
  }
}

/** tablet */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main_box {
    display: block;
  }

  .left_box,
  .grey_box {
    display: block;
  }

  .grey_box {
    background-color: #241400b2;
    width: 40%;
    display: none;
  }

  .left_box {
    width: 40%;
    height: 100vh;
  }
  .logo {
    display: flex;
    gap: 6px;
    margin: 10px 0 0 11px;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .logo button {
    background-color: transparent;
    border: none;
    height: 46px;
    width: 40%;
    font-size: 36px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    display: none;
  }

  .text_box {
    color: #fff;
    margin: 0;
    width: 100%;
  }

  .text_box :nth-child(1) {
    font-weight: var(--fontweight);
    font-size: var(--logoFontSize);
  }

  .text_box :nth-child(2) {
    width: 70%;
    color: #ffffff96;
  }

  .text_box :nth-child(3) {
    font-weight: 400;
    font-size: var(--logoFontSize);
  }

  .stacks_container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin: 67px 0 0 20px;
  }

  .profile {
    display: block;
    display: flex;
  }

  /*! book store */
  .book_store {
    display: none;
  }

  .library {
    display: flex;
    gap: 6px;
    margin: 10px 0 0 11px;
    align-items: center;
  }

  .library img {
    margin-top: 8px;
  }

  .library_btn {
    border: none;
    background-color: transparent;
    font-size: var(--headerFontSize);
    font-weight: var(--ctlgslidefntWeight);
    color: var(--socialMediaColor);
  }

  .text_box2 :nth-child(1) {
    color: var(--admBgandtable);
    font-weight: var(--fontweight);
  }

  .text_box2 :nth-child(2) {
    width: 120px;
  }

  /*! search */

  .add {
    font-size: var(--ctlgHead);
    margin: 0 0 0 13px;
    width: 40%;
  }

  .search {
    margin: 40px 13px;
  }

  .text {
    font-weight: 600;
    font-size: var(--bookpgComment);
    color: #333333;
    margin: 0 0 23px 0;
  }

  .searching_area {
    display: flex;
    margin-left: 5px;
  }

  .searching_area input {
    width: 90%;
    height: 41px;
    border: 2px solid #391f007a;
    border-radius: 34px;
    font-size: var(--logoFontSize);
    font-weight: 400;
    color: #adadad;
    padding-left: 33px;
  }

  .searching_area button {
    width: 15%;
    height: 40px;
    background-color: #ff8b00;
    border: none;
    border-radius: 36px;
    margin: 0 7px;
    cursor: pointer;
  }

  .result_container {
    background-color: var(--admSrchRes);
    width: 82%;
    height: 84px;
    border-radius: 35px;
    margin-left: 5px;
    overflow-y: auto;
  }

  .result_box {
    border-radius: 35px;
    display: flex;
    gap: 24px;
    padding: 18px 0 0 36px;
    font-size: var(--logoFontSize);
    font-weight: 400;
    color: #bcbcbc;
  }

  .bookForm {
    margin: 0 0 16px 13px;
  }

  .add_container {
    width: 100%;
    height: 660px;
    background-color: #fff;
    margin: 0;
    border-radius: 20px;
  }

  .abt_store {
    font-size: var(--ctlgHead);
    font-weight: 600;
    margin: 0 0 20px 13px;
  }
  .store_container {
    width: 100%;
    height: 415px;
    background-color: #fff;
    margin: 0;
    border-radius: 20px;
  }

  /*! join us */

  .join_us {
    width: 100%;
    height: 268px;
    margin: 0 0 290px 0;
  }

  .scroll {
    overflow: auto;
    height: 290px;
    width: 100%;
  }

  .join_us p {
    margin-left: 13px;
  }

  /*! BOOKs */

  .table_container {
    width: 100%;
    height: 97px;
    margin: 20px 0 398px 0;
  }

  .scroll2 {
    overflow: auto;
    height: 140px;
  }

  .table_container p {
    margin-left: 13px;
  }

  .angels {
    gap: 5px;

    margin-top: 10px;
  }

  /*! contact_cntr */
  .contact_cntr {
    width: 100%;
    height: 590px;
    margin: 0 0 289px 0;
  }

  .scroll3 {
    overflow: auto;
    height: 540px;
  }

  .contact_cntr p {
    margin-left: 13px;
  }
}
